[*.cs]

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning

# IDE0025: Use expression body for property
csharp_style_expression_bodied_properties = false

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0011: Add braces
csharp_prefer_braces = false

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = false

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = suggestion

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = none

# SA1202: Elements should be ordered by access
dotnet_diagnostic.SA1202.severity = none

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = suggestion

# RCS1110: Declare type inside namespace.
dotnet_diagnostic.RCS1110.severity = suggestion

dotnet_diagnostic.RCS1181.severity = none

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = none

# RCS1169: Make field read-only.
dotnet_diagnostic.RCS1169.severity = suggestion

# SA1134: Attributes should not share line
dotnet_diagnostic.SA1134.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none
